@model SpinutechDeveloperTestProject.Models.Excercise1ViewModel

@{
    ViewBag.Title = "Exercise 1";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Exercise1", FormMethod.Post))
{
    <span>Enter the number you want converted:</span> @Html.TextBoxFor(m => m.InputStringVal)
    if (Model.ShowErrorMessage)
    {
        <br /><span style="color:red">@Model.ErrorMessage</span>
    }
    <br />

        <input id="Submit" type="submit" value="submit" />
    }

    @if (Model.ShowOutputValue)
    {
        <hr />

        <strong>Stringified Value: </strong> @Html.DisplayFor(m => m.StringifiedValue)
    }
